<h1>@ViewBag.title</h1>
    
    @{
//TODO #1: Use a loop to display job results in a table.
}

@foreach(Dictionary<string, string> job in ViewBag.jobs)
{
    <table class="jon-listing">
        @foreach (KeyValuePair<string, string> job_fields in job)
        {
            <tr>
                <td>@job_fields.Key</td>
                <td>@job_fields.Value</td>
            </tr>
        }
    </table>
}
